body {
	background-color: #9CD0ED;
	font-family: Arial, "Times New Roman", "DejaVu Serif", sans-serif;
}
header {
	background-color: #EFF8F6;
	height: 200px;
	width: 95%;
	border-bottom: 15px solid black;
	border-left: 2px solid black;
	margin: 0 auto;
	border-radius: 15px;

}
nav {
	width: 800px;
	clear: both;
}
li {
	color: #8FDBC8;
	text-decoration: none;
	display: inline-block;
	font-size: 300%;
	margin-right: 15px;
}
<<<<<<< HEAD
li:hover {
	color: #DB170B;
}
=======
>>>>>>> Adjusted div spacing
.donate_button {
	float: right;
	background-color: #DB170B;
	width: 400px;
	height: 100px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	padding: 25px 0px;
<<<<<<< HEAD
	margin-top: 40px;
=======
	margin-top: -250px;
>>>>>>> Adjusted div spacing
	margin-right: 29px;
}
.donate_link {
	font-size: 207%;
	text-decoration: none;
	color: white;
	padding-bottom: 20px;
}
.donate_header {
	margin: 0;
	padding-top: 15px;
}
.logo {
	float: right;
	width: 400px;
<<<<<<< HEAD
	padding-top: -30px;
=======
>>>>>>> Adjusted div spacing
	margin-right: -2px;
	margin-top: -44px;
}
.title {
	float: left;
	height: 200px;
	font-size: 344%;
	margin-top: -67px;
	margin-left: 41px;
	padding-bottom: 30px
}
.woman {
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	border-radius: 15px;
}
.info {
	width:825px;
<<<<<<< HEAD
	height: 700px;
=======
	height: 800px;
>>>>>>> Adjusted div spacing
	margin-top: 70px;
	margin-left: 35px;
	margin-bottom: 70px;
	padding-left: 10px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #D7D662;
	float: left;
}
.ourstory {
	display: block;
	line-height: 0%;
	margin-top: -15px;
	margin-bottom: 38px;
	font-style: italic;
	font-size: 600%;
	margin-left: 20%;
}
.a {
	padding-top: 28px;
	width: 800px;
	
}
.volunteer {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
	margin-left: 5px;
}
.volunteer2 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
.supplies {
	width: 400px;
	display: inline-block;
	margin-right: 29px;
<<<<<<< HEAD
	margin-top: -233px;
=======
	margin-top: -49px;
>>>>>>> Adjusted div spacing
	margin-bottom: 5px;
	border: 2px solid black;
	border-radius: 15px;
	float: right;
}
.supplies_image {
	padding-top: 2px;
	border-radius: 15px;
}
.success {
<<<<<<< HEAD
	width: 835px;
	height: 150px;
	margin-top: 30px;
	margin-left: -10px;
	border-radius: 15px;
	background-color: #05BB8B;
}
a {
	text-decoration: none;
}
.success_title {
	text-decoration: none;
	text-align: center;
	color: #8FDBC8 ;
	font-size: 400%;
	margin: 0;
}
.success_title:hover {
	color: white;
}
=======
	width: 100%;
	height: 50px;
	background-color: #05BB8B;
}
>>>>>>> Adjusted div spacing












