body {
	background-color: #9CD0ED;
	font-family: Arial, "Times New Roman", "DejaVu Serif", sans-serif;
}
header {
	background-color: #EFF8F6;
	height: 200px;
	width: 95%;
	border-bottom: 15px solid black;
	border-left: 2px solid black;
	margin: 0 auto;
	border-radius: 15px;

}
nav {
	width: 800px;
	clear: both;
}
li {
	color: #8FDBC8;
	text-decoration: none;
	display: inline-block;
	font-size: 300%;
	margin-right: 15px;
}
.donate_button {
	position: absolute;
	background-color: #DB170B;
	top: 600px;
	left: 900px;
	width: 500px;
	height: 100px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	padding: 25px 0px;
}
.donate_link {
	font-size: 207%;
	text-decoration: none;
	color: white;
	padding-bottom: 20px;
}
.donate_header {
	margin: 0;
	padding-top: 15px;
}
.logo {
	float: right;
	width: 500px;
	margin-right: -2px;
	margin-top: -44px;
}
.title {
	float: left;
	height: 200px;
	font-size: 344%;
	margin-top: -67px;
	margin-left: 41px;
	padding-bottom: 30px
}
.woman {
	display: block;
	margin-left: 35px;
	margin-top: 20px;
	border-radius: 15px;
}
.info {
	width:825px;
	margin-top: 70px;
	margin-left: 35px;
	padding-left: 10px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #D7D662;
	float: left;
}
.ourstory {
	display: block;
	line-height: 0%;
	margin-top: -15px;
	margin-bottom: 38px;
	font-style: italic;
	font-size: 600%;
	margin-left: 20%;
}
.a {
	padding-top: 28px;
	width: 800px;
	
}
.volunteer {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
	margin-left: 5px;
}
.volunteer2 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
.supplies {
	width: 500px;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 5px;
	border: 2px solid black;
	border-radius: 15px;
}
.supplies_image {
	padding-top: 2px;
	border-radius: 15px;
}












