body {
	background-color: #9CD0ED;
}

h1 {
	display: block;
	background-color: #EEF9F7;
	padding: 4px;
	height: 85px;
	font-size: 4em;
	font-family: 'Ariel', sans-serif;
	font-weight: bold;
	border: 1px solid green;
	margin: 0px 0px 2px 2px;
}

.container {
	font-family: 'Ariel', sans-serif;
	border: 1px solid blue;
	margin: 0px 0px 2px 2px;
}
.sblogo {
	float: right;
	width: 33%;
	margin-right: -2px;
	border: 1px solid black;
	font-family: 'Ariel', sans-serif;
}

.left {
	border: 2px solid red;
	float: left;
	width:33%;
	margin:2px;
	font-family: 'Ariel', sans-serif;
}

.right {
	border: 2px solid yellow;
	float: left;
	width: 33%;
	font-family: 'Ariel', sans-serif;
}
