body {
	background-color: #9CD0ED;
	font-family: 'Ariel', sans-serif;
}

.sblogo {
	float: right;
	width: 33%;
	margin-right: -2px;
	font-family: 'Ariel', sans-serif;
}

h1 {
	display: block;
	background-color: #EEF9F7;
	padding: 4px;
	height: 85px;
	font-size: 4em;
	font-family: 'Ariel', sans-serif;
	font-weight: bold;
	margin: 0px 2px 2px 2px;
}

.main {
	width: 900px;
	font-family: 'Ariel', sans-serif;
	margin: 0px 0px 4px 2px;
}

.main a {
	width: 400px;
	margin: 3px auto;
}
.sidebar {
	float: left;
	width: 25%;
}

.container {
	background-color: #EEF9F7;
	width: 50%;
	margin: 40px auto;
	padding: 2em;
	font-family: 'Ariel', sans-serif
}

.information {
	float: left;
	width:50%;
	margin:2px;
	font-family: 'Ariel', sans-serif;
}

.billing {
	float: left;
	width: 50%;
	font-family: 'Ariel', sans-serif;
}

.button {
	display: inline-block;
	height: auto;
	width: 250px;
	margin: 50px;
	padding: 4px;
	background-color: rgba(255, 60, 0, 0.7);
	border:2px solid rgb(178, 42, 0);
	border-radius: 50px;
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	font-family: 'Ariel', sans-serif;
	color: #EEF9F7;
}

.button:hover {
	background-color: #631800;
}

iframe {
	margin-left: 180px;
}

form {
	width: 100%;
	margin: 0 auto;
}

label{
	width: 120px;
	margin: 0 auto;
}

input[type="radio"] {
	margin: 0;
}
